@font-face{
    font-family: myFirstFont;
    src: url(Mardoto-Regular.woff2); 
}
/* Navbar*/

.menu{
    right: 40px;
}
.logo img{
    width: 100px;
    height: 40px;
}

.nav-menu .block-list {
    display: flex;
    justify-content: space-around;
    width: 950px;
    padding-left: 200px;
}

li{
    list-style: none;
}

/*a teg in menu */
.nav-menu li a{
    color:black;
    padding-left: 45px;
    font-size: 13px;
    text-decoration: none;
    padding: 0;
}
.sign li a{
    color: black;
    padding-left: 45px;
    font-size: 13px;
    text-decoration: none;
    padding: 0;
}
.nav-menu li a img{
    position: absolute;
}

/* hover color in menu*/
.nav-menu li a:hover{
    color: #134c5f;
}
.sign li a:hover{
    color: #134c5f; 
}

/*sign left-border*/

.sign{
    border-left: 1px solid grey;
}



/* dropdown */
 .dropdown {
    
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    width: 70px;  
    border-radius: 4px;
    padding: 12px;  
    display: none;
    position: absolute;
    background-color: #c8e7e1;
    min-width: 45px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    z-index: 1;
  }
  .dropdown-content li{
      padding-bottom: 10px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* .dropdown-content a:hover {background-color: #ddd;} */
  .dropdown:hover .dropdown-content {display: block;}


/* burger btn*/
 
.burger-btn{
    border: 0;
    background-color: white;
}

/*block-hero*/


/*hero-text*/
.block-hero{
    padding-top: 50px;
    padding-bottom: 160px;
}

.hero-text{
    padding-top: 80px;
    text-align:start
}

.hero-text h1{
    width: 700px;
    font-size: 40px;
    line-height: normal;
}
.hero-text p{
    font-size: 14px;
    line-height: 1.88;
}
.hero-text button{
    width: 170px;
    height: 55px;
    border: 0;
    border-radius: 28px;
    background-color: #134c5f;
    color: white;
    margin-top: 20px;
}

.hero-text button:hover{
    opacity: .8;
}

/*hero-img*/
.hero-img{
    width: 485px;
    height: 497px;
    padding: 91px 14px 0 0;
    background-color: #fee46b;
    border-radius: 50%;
    padding-top: 0;
}

.hero-img img{
    padding-top: 30px;
    width: 490px;
}



/* slide-block */

.category{
    text-align: center;
    padding: 3px;
    text-align: center;
    border-radius: 55px;
}
.category:hover{
    background-color: #c8e7e1 ;
}


.category img{
    width: 140px;
    height: 215px;
}

.category h3{
    font-size: 16px;
}
.category p{
    font-size: 12px;
    color: gray;
}
.slak{
    padding-top: 150px;
}

/* hero block 2*/


/*hero text*/

.block-hero{
    padding-top: 50px;
    padding-bottom: 200px;
}

.hero-text2{
    padding-left: 45px;
    padding-top: 80px;
    text-align:start
}

.hero-text2 h1{
    width: 700px;
    font-size: 40px;
    line-height: normal;
    
}
.hero-text2 p{
    font-size: 14px;
    line-height: 1.88;
}
.hero-text2 button{
    width: 170px;
    height: 55px;
    border: 0;
    border-radius: 28px;
    background-color: #134c5f;
    color: white;
    margin-top: 20px;
}

.hero-text2 button:hover{
    opacity: .8;
}

/*hero-img*/
.hero-img2{
    width: 535px;
    height: 540px;
    padding: 91px 14px 0 0;
    background-color:#abe6ff;
    border-radius: 50%;
    padding-top: 0;
}

.hero-img2 img{
    padding-left: 48px;
    margin-left: 90px;
    padding-top: 30px;
    width: 250px;
}
/*product*/

.product{
    padding-bottom: 150px;
}
.block1{
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    border-radius: 5px;
}
.dram{
    color: #ff672b;
    text-decoration: line-through
}
.block1 button{
    background-color: #c8e7e1;
    color: #134c5f;
    width: 110px;
    height: 40px;
    border: none;
    border-radius: 35px
}
.block1 button:hover{
    background-color:#134c5f ;
    color:#c8e7e1 ;
}

.block1:hover{
    background-color:#c8e7e1 ;
}

.block1 h1{
    font-size: 17px;
}

.block1 img{
    padding-left: 50px;
    width: 200px;
}


/* block 3 */




/*hero-text*/
.block-hero{
    padding-top: 50px;
    padding-bottom: 160px;
}

.hero-text3{
    padding-top: 80px;
    text-align:start
}

.hero-text3 h1{
    width: 700px;
    font-size: 40px;
    line-height: normal;
}
.hero-text3 p{
    font-size: 14px;
    line-height: 1.88;
}
.hero-text3 button{
    width: 170px;
    height: 55px;
    border: 0;
    border-radius: 28px;
    background-color: #134c5f;
    color: white;
    margin-top: 20px;
}

.hero-text3 button:hover{
    opacity: .8;
}

/*hero-img*/
.hero-img3{
    width: 485px;
    height: 497px;
    padding: 91px 14px 0 0;
    background-color:#abe6ff;
    border-radius: 50%;
    padding-top: 0;
}

.hero-img3 img{
    padding-top: 30px;
    width: 315px;
    margin-left: 60px;
}
















































@media (max-width: 575.98px) { 
    .nav-menu{
        display: none;
    }
    .burger{
        display: block;
        padding-left: 500px;
    }
    .menu{
        bottom: 40px;
        left: 10px;
    }
    .sign{
        display: none;
    }
    /* burg-drop*/
.burger {
    position: relative;
    display: inline-block;
  }
  
  .burger-content {
    display: none;
    position: absolute;
    border-radius: 5px;
    background-color: #c8e7e1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .burger-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .burger-content ul{
      padding: 10px;
  }
  
  .burger-content a:hover {color:#134c5f;}
  
  .burger:hover .burger-content {display: block;}
 }




@media (min-width: 576px) and (max-width: 767.98px) { 
    .nav-menu{
        display: none;
    }
    .burger{
        display: block;
        padding-left: 500px;
    }
    .menu{
        bottom: 40px;
        left: 10px;
    }
    .sign{
        display: none;
    }
    /* burg-drop*/
.burger {
    position: relative;
    display: inline-block;
  }
  
  .burger-content {
    display: none;
    position: absolute;
    margin-left: -146px;
    border-radius: 5px;
    background-color: #c8e7e1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .burger-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .burger-content ul{
      padding: 10px;
  }
  
  .burger-content a:hover {color:#134c5f;}
  
  .burger:hover .burger-content {display: block;}

  /*slide*/
  .slide1, .slide3{
    display: none;
}
.cat{
    width: 120px;
    height: 190px;
}

 }




@media (min-width: 768px) and (max-width: 991.98px) {
    .nav-menu{
        display: none;
    }
    .burger{
        display: block;
        padding-left: 500px;
    }
    .menu{
        left: 10px;
    }
    /* burg-drop*/
.burger {
    position: relative;
    display: inline-block;
  }
  
  .burger-content {
    display: none;
    position: absolute;
    margin-left: -146px;
    border-radius: 5px;
    background-color: #c8e7e1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .burger-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .burger-content ul{
      padding: 10px;
  }
  
  .burger-content a:hover {color:#134c5f;}
  
  .burger:hover .burger-content {display: block;}
  .hero-text{
    padding-top: 80px;
    text-align:start
}
/*hero-text*/
.hero-text h1{
    width: 700px;
    font-size: 30px;
    line-height: normal;
}
.hero-text p{
    font-size: 11px;
    line-height: 1.88;
}
.hero-text button{
    width: 170px;
    height: 55px;
    border: 0;
    border-radius: 28px;
    background-color: #134c5f;
    color: white;
    margin-top: 20px;
}

  /*hero-img*/
.hero-img{
    width: 455px;
    height: 430px;
    padding: 91px 14px 0 0;
    background-color: #fee46b;
    border-radius: 50%;
    padding-top: 0;
}

.hero-img img{
    padding-top: 30px;
    width: 415px;
}


/* slide */
  .slide1, .slide3{
      display: none;
  }

  /*hero text*/

.block-hero{
    padding-top: 50px;
    padding-bottom: 160px;
}

.hero-text2{
    margin-left: 35px;
    padding-top: 10px;
    padding-top: 80px;
    padding-left: 100px;
    text-align:start  
}

.hero-text2 h1{
    width: 700px;
    font-size: 30px;
    line-height: normal;
}
.hero-text2 p{
    font-size: 11px;
    line-height: 1.88;
}
.hero-text2 button{
    width: 170px;
    height: 55px;
    border: 0;
    border-radius: 28px;
    background-color: #134c5f;
    color: white;
    margin-top: 20px;
}

.hero-text2 button:hover{
    opacity: .8;
}

/*hero-img*/
.hero-img2{
    width: 400px;
    height: 450px;
    padding: 91px 14px 0 0;
    background-color:#abe6ff;
    border-radius: 50%;
    padding-top: 0;
}

.hero-img2 img{
    padding-left: 65px;
    margin-left: 55px;
    padding-top: 60px;
    width: 217px;
}



.block1 img{
    padding-left: 0px;
    width: 115px;
}
.block1 h1{
    font-size: 12px;
}
.block1 p{
    font-size: 12px;
}

.block1{
    padding: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 9px;
    border-radius: 5px;
}

.hero-text3 h1{
    width: 700px;
    font-size: 30px;
    line-height: normal;
}

  }




@media (min-width: 992px) and (max-width: 1199.98px) { 
    .nav-menu{
        display: none;
    }
    .burger{
        display: block;
        padding-left: 700px;
    }
    .menu{
        left: 10px;
    }
/* burg-drop*/
.burger {
    position: relative;
    display: inline-block;
  }
  
  .burger-content {
    display: none;
    position: absolute;
    margin-left: -146px;
    border-radius: 5px;
    background-color: #c8e7e1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .burger-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .burger-content ul{
      padding: 10px;
  }
  
  .burger-content a:hover {color:#134c5f;}
  
  .burger:hover .burger-content {display: block;}

/*hero-block*/
  .hero-text{
    padding-top: 80px;
    text-align:start
}

.hero-text h1{
    width: 700px;
    font-size: 35px;
    line-height: normal;
}
.hero-text p{
    font-size: 13px;
    line-height: 1.88;
}
.hero-text button{
    width: 170px;
    height: 55px;
    border: 0;
    border-radius: 28px;
    background-color: #134c5f;
    color: white;
    margin-top: 20px;
}

  /*hero-img*/
.hero-img{
    width: 530px;
    height: 489px;
    padding: 91px 14px 0 0;
    background-color: #fee46b;
    border-radius: 50%;
    padding-top: 0;
}

.hero-img img{
    padding-top: 30px;
    width: 467px;
}

/*hero text*/

.block-hero{
    padding-top: 50px;
    padding-bottom: 160px;
}

.hero-text2{
    padding-top: 80px;
    padding-left: 150px;
    text-align:start
}

.hero-text2 h1{
    width: 700px;
    font-size: 35px;
    line-height: normal;
}
.hero-text2 p{
    font-size: 13px;
    line-height: 1.88;
}
.hero-text2 button{
    width: 170px;
    height: 55px;
    border: 0;
    border-radius: 28px;
    background-color: #134c5f;
    color: white;
    margin-top: 20px;
}

.hero-text2 button:hover{
    opacity: .8;
}

/*hero-img*/
.hero-img2{
    width: 535px;
    height: 540px;
    padding: 91px 14px 0 0;
    background-color:#abe6ff;
    border-radius: 50%;
    padding-top: 0;
}

.hero-img2 img{
    padding-left: 48px;
    margin-left: 90px;
    padding-top: 30px;
    width: 250px;
}

.block1 img{
    padding-left: 19px;
    width: 150px;
}


.hero-text3 h1{
    width: 700px;
    font-size: 30px;
    line-height: normal;
}

 }




@media (min-width: 1200px) {  

    .burger{
        display: none;
    }
    .block1 img{
        padding-left: 35px;
        width: 170px;
    }

}