@font-face{
    font-family: myFirstFont;
    src: url(Mardoto-Regular.woff2); 
}
/* Navbar*/

.menu{
    right: 40px;
}
.logo img{
    width: 100px;
    height: 40px;
}

.nav-menu .block-list {
    display: flex;
    justify-content: space-around;
    width: 950px;
    padding-left: 200px;
}

li{
    list-style: none;
}

/*a teg in menu */
.nav-menu li a{
    color:black;
    padding-left: 45px;
    font-size: 13px;
    text-decoration: none;
    padding: 0;
}
.sign li a{
    color: black;
    padding-left: 45px;
    font-size: 13px;
    text-decoration: none;
    padding: 0;
}
.nav-menu li a img{
    position: absolute;
}

/* hover color in menu*/
.nav-menu li a:hover{
    color: #134c5f;
}
.sign li a:hover{
    color: #134c5f; 
}

/*sign left-border*/

.sign{
    border-left: 1px solid grey;
}



/* dropdown */
 .dropdown {
    
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    width: 70px;  
    border-radius: 4px;
    padding: 12px;  
    display: none;
    position: absolute;
    background-color: #c8e7e1;
    min-width: 45px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.1);
    z-index: 1;
  }
  .dropdown-content li{
      padding-bottom: 10px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  /* .dropdown-content a:hover {background-color: #ddd;} */
  .dropdown:hover .dropdown-content {display: block;}


/* burger btn*/
 
.burger-btn{
    border: 0;
    background-color: white;
}

/*block-hero*/


/*hero-text*/
.block-hero{
    padding-top: 50px;
    padding-bottom: 160px;
}

.hero-text{
    padding-top: 80px;
    text-align:start
}

.hero-text h1{
    width: 700px;
    font-size: 40px;
    line-height: normal;
}
.hero-text p{
    font-size: 14px;
    line-height: 1.88;
}
.hero-text button{
    width: 170px;
    height: 55px;
    border: 0;
    border-radius: 28px;
    background-color: #134c5f;
    color: white;
    margin-top: 20px;
}

.hero-text button:hover{
    opacity: .8;
}

/*hero-img*/
.hero-img{
    width: 627px;
    height: 585px;
    padding: 91px 14px 0 0;
    background-color: #fee46b;
    border-radius: 50%;
    padding-top: 0;
}

.hero-img img{
    padding-top: 30px;
    width: 576px;
}



/* slide-block */

.category{
    text-align: center;
}

.category img{
    width: 140px;
    height: 215px;
}

.category h3{
    font-size: 16px;
}
.category p{
    font-size: 12px;
    color: gray;
}
.slak{
    padding-top: 150px;
}

































@media (max-width: 575.98px) { 
    .nav-menu{
        display: none;
    }
    .burger{
        display: block;
        padding-left: 500px;
    }
    .menu{
        bottom: 40px;
        left: 10px;
    }
    .sign{
        display: none;
    }
    /* burg-drop*/
.burger {
    position: relative;
    display: inline-block;
  }
  
  .burger-content {
    display: none;
    position: absolute;
    border-radius: 5px;
    background-color: #c8e7e1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .burger-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .burger-content ul{
      padding: 10px;
  }
  
  .burger-content a:hover {color:#134c5f;}
  
  .burger:hover .burger-content {display: block;}
 }




@media (min-width: 576px) and (max-width: 767.98px) { 
    .nav-menu{
        display: none;
    }
    .burger{
        display: block;
        padding-left: 500px;
    }
    .menu{
        bottom: 40px;
        left: 10px;
    }
    .sign{
        display: none;
    }
    /* burg-drop*/
.burger {
    position: relative;
    display: inline-block;
  }
  
  .burger-content {
    display: none;
    position: absolute;
    margin-left: -146px;
    border-radius: 5px;
    background-color: #c8e7e1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .burger-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .burger-content ul{
      padding: 10px;
  }
  
  .burger-content a:hover {color:#134c5f;}
  
  .burger:hover .burger-content {display: block;}
 }




@media (min-width: 768px) and (max-width: 991.98px) {
    .nav-menu{
        display: none;
    }
    .burger{
        display: block;
        padding-left: 500px;
    }
    .menu{
        left: 10px;
    }
    /* burg-drop*/
.burger {
    position: relative;
    display: inline-block;
  }
  
  .burger-content {
    display: none;
    position: absolute;
    margin-left: -146px;
    border-radius: 5px;
    background-color: #c8e7e1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .burger-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .burger-content ul{
      padding: 10px;
  }
  
  .burger-content a:hover {color:#134c5f;}
  
  .burger:hover .burger-content {display: block;}
  .hero-text{
    padding-top: 80px;
    text-align:start
}
/*hero-text*/
.hero-text h1{
    width: 700px;
    font-size: 30px;
    line-height: normal;
}
.hero-text p{
    font-size: 12px;
    line-height: 1.88;
}
.hero-text button{
    width: 170px;
    height: 55px;
    border: 0;
    border-radius: 28px;
    background-color: #134c5f;
    color: white;
    margin-top: 20px;
}

  /*hero-img*/
.hero-img{
    width: 455px;
    height: 430px;
    padding: 91px 14px 0 0;
    background-color: #fee46b;
    border-radius: 50%;
    padding-top: 0;
}

.hero-img img{
    padding-top: 30px;
    width: 415px;
}


  }




@media (min-width: 992px) and (max-width: 1199.98px) { 
    .nav-menu{
        display: none;
    }
    .burger{
        display: block;
        padding-left: 700px;
    }
    .menu{
        left: 10px;
    }
/* burg-drop*/
.burger {
    position: relative;
    display: inline-block;
  }
  
  .burger-content {
    display: none;
    position: absolute;
    margin-left: -146px;
    border-radius: 5px;
    background-color: #c8e7e1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .burger-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .burger-content ul{
      padding: 10px;
  }
  
  .burger-content a:hover {color:#134c5f;}
  
  .burger:hover .burger-content {display: block;}

/*hero-block*/
  .hero-text{
    padding-top: 80px;
    text-align:start
}

.hero-text h1{
    width: 700px;
    font-size: 35px;
    line-height: normal;
}
.hero-text p{
    font-size: 13px;
    line-height: 1.88;
}
.hero-text button{
    width: 170px;
    height: 55px;
    border: 0;
    border-radius: 28px;
    background-color: #134c5f;
    color: white;
    margin-top: 20px;
}

  /*hero-img*/
.hero-img{
    width: 530px;
    height: 489px;
    padding: 91px 14px 0 0;
    background-color: #fee46b;
    border-radius: 50%;
    padding-top: 0;
}

.hero-img img{
    padding-top: 30px;
    width: 467px;
}

 }




@media (min-width: 1200px) {  

    .burger{
        display: none;
    }

}