.container{
    max-width: 1920px;
}

/* Navbar*/
.logo img{
    width: 100px;
    height: 40px;
}

.nav-menu ul {
    display: flex;
    justify-content: space-around;
    width: 950px;
}
.nav-menu li a{
    font-size: 16px;
}

























@media (max-width: 575.98px) {  }


@media (min-width: 576px) and (max-width: 767.98px) {  }


@media (min-width: 768px) and (max-width: 991.98px) {  }


@media (min-width: 992px) and (max-width: 1199.98px) {  }


@media (min-width: 1200px) {  }